body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
}

nav {
    margin: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    max-width: 0 auto;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #007bff;
}

form {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgb(46, 46, 46);
    max-width: 800px;
    margin: 20px auto;
}

form table {
    width: 100%;
    border-collapse: collapse;
}

form td {
    padding: 10px;
    vertical-align: top;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="date"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

form input[type="radio"],
form input[type="checkbox"] {
    margin-right: 5px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #007bff;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}